<h1> <@familly.name>家の家事リスト</h1>
<%#表の形の指定%>
<table class="table">
 <%#上に表示する見出しみたいなの%>
 <thead>
  <tr>
   <th>内　容</th>
   <th>ノート</th>
  </tr>
 </thead>
 <%#テーブルの中身 %>
 <tbody>
  <% @houseworks.each do |housework| %>
   <tr>
    <td><%= housework.title %></td>
    <td><%= housework.note %></td>
    <td><%= link_to "編集", edit_housework_path(housework) %></td>
    <td><td><%= link_to "削除", housework_path(housework), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
   </tr>
  <% end %>
  </tbody>
 </table>
 <br>
 <%= link_to "登録", new_housework_path, class: "btn btn-primary" %> 