 <h1> <@familly.name>家の家事リスト</h1>
   <div class="topic-index-wrapper">
  <div class="container">
  <% @houseworks.each do |housework| %>   
   <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%# 項目を一つずつ表示のため追記 %>
          <div class="housework-index-single">
              <%= housework.title %>
              <%= link_to "編集", edit_housework_path(housework) %>
               <%= link_to "削除", housework_path(housework), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <p class="topic-text">
              <%= housework.note %>
            </p>
          </div>
        </div>
      </div>
     </div>
      <% end %>
    <%= link_to "登録" , new_housework_path %>
 </div>
