<h1>家事登録</h1>
<%# houseworkの登録フォームを作るために form_forを使う。>
<% form_for モデルオブジェクト do |f| %>

<%= form_for @housework do |f| %>

<%# 家事の内容を把握するためにタイトルを入れる。f.text_fieldで入力フォームの作成 %>
 <%= f.label :title %>
  <div class="form-group">
   <%= f.text_field :title,  class: "form-contorol" %>
  </div>
  <%= f.label :note %>
  <div class="form-group">
   <%= f.text_area :note, class: "form-contorol" %>
  </div>
  
  <%#曜日を指定させる、チェックボックスで指定することで複数選べるようにする%>
  <%#each_with_indexメソッドでチェックボックスに番号を振る。%>
  <%= f.label :"曜　日" %>
  <div class="form-group">
   <% weekly_columns.each_with_index do |day,i| %>
   <%= f.check_box day.to_sym , {} , "true", "false" %>
   <%= f.label day.to_sym , ["月","火","水","木","金","土","日"][i] %>
   <% end %>
  </div>
  <%= f.submit '決　定' %>
 <% end %>