<div class="container">
 <div class="row">
  <h1 class="text-center">編集画面</h1>
   <%= form_with model:[@family,@work], url: family_work_path, local: true do |f| %>
    <%= f.hidden_field :family_id, value: @family.id %>
    <div class="col-md-6 col-md-offset-3">
     <div class="form-group">
      <%= f.label :タイトル %>
      <%= f.text_field :title,class:"form-control" %>
     </div>
  <%#曜日選択のボタンを作る。月⇒日で0⇒6%>
     <div class-"form-group">
      <%= f.label :ノート %>
      <%= f.text_area :note, class: "form-control" %>
     </div>
     <div class="form-group">
      <%= f.label :曜　日 %>
      <% weekly_columns.each_with_index do |day,i| %>
       <%= f.check_box day.to_sym, {}, "true","false" %>
       <%= f.label day.to_sym, ["月","火","水","木","金","土","日"][i] %>
      <% end %>
     </div>
    </div>
 </div>
 <div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= f.submit '保　存' %>
  </div>
 </div>
 <% end %>
</div>