<h1>月曜日</h1>
<%#週ごとの表示をするのでテーブルにする。%>
 <table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.monday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td><%= button_to 'Done' , statuses_family_works_path(@family),method: :post %></td>
    <% end %>
     </tr>
   </tbody>
 </table>

<h1>火曜日</h1>
<table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.tuesday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td></td>
    <% end %>
     </tr>
   </tbody>
</table>
 
 <h1>水曜日</h1>
 <table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.wednesday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td></td>
    <% end %>
     </tr>
   </tbody>
 </table>
 
 <h1>木曜日</h1>
 <table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.thursday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td></td>
    <% end %>
     </tr>
   </tbody>
 </table>
 
 <h1>金曜日</h1>
 <table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.friday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td></td>
    <% end %>
     </tr>
   </tbody>
 </table>
 
 <h1>土曜日</h1>
 <table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.saturday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td></td>
    <% end %>
     </tr>
   </tbody>
 </table>
 
 <h1>日曜日</h1>
 <table class = table>
   <thead>
     <tr>やること<tr>
     <tr>完了ボタン<tr>
　 </thead>
　 <tbody>
　  <% @works.each do |work| %>
　   <tr>
      <% if work.sunday == true %>
       <td><%= work.title %></td>
      <% end %>
       <td></td>
    <% end %>
     </tr>
   </tbody>
 </table>
<%#family_works_pathで/families/:family_id/works(.:format)だから@familyのみ %>
<%= link_to "家事登録一覧へ",family_works_path(@family), class: "btn btn-primary"%>
<%# 日付を表示させる。%>