<h1> 家事登録リスト</h1>

<div class="container">
 <div class-"row">
<%#表の形の指定%>
<table class="table">
 <%#上に表示する見出しみたいなの%>
 <thead>
  <tr>
   <div class="col-xs-offset-2 col-xs-3">
   <th>内　容</th>
   </div>
   <div class="col-xs-3">
   <th>ノート</th>
   </div>
   <div class="col-xs-2 col-xs-offset-2">
   <th>曜　日</th>
   </div>
  </tr>
 </thead>
 </div>
 <%#テーブルの中身 %>
 <tbody>
   <% @houseworks.each do |housework| %>
   <tr>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-3">
    <td><%= housework.title %></td>
      </div>
      <div class="col-xs-3">
    <td><%= housework.note %></td>
      </div>
       <div class="col-xs-2 col-xs-offset-2">
<%# 登録の際に曜日のチェックボックスで選択したものだけを表示する。%>
    <td>
        <%# 月曜日 %>
        <% if housework.monday == true %>
        <%= p "月" %>
        <% end %>
        <%# 火曜日 %>
        <% if housework.tuesday == true %>
        <%= p "火" %>
        <% end %>
        <%# 水曜日 %>
        <% if housework.wednesday == true %>
        <%= p "水" %>
        <% end %>
        <%# 木曜日 %>
        <% if housework.thursday == true %>
        <%= p "木" %>
        <% end %>
        <%# 金曜日 %>
        <% if housework.friday == true %>
        <%= p "金" %>
        <% end %>
        <%# 土曜日 %>
        <% if housework.saturday == true %>
        <%= p "土" %>
        <% end %>
        <%# 日 %>
        <% if housework.sunday == true %>
        <%= p "日" %>
        <% end %>
    </td>
       </div>
    <td><%= link_to "編集", edit_housework_path(housework) %></td>
    <td><td><%= link_to "削除", housework_path(housework), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
   </tr>
  <% end %>
  </tbody>
 </table>
 <br>
 <%= link_to "登録", new_housework_path, class: "btn btn-primary" %>
 <%= link_to "週間予定へ", houseworks_show_path %>
</div>