<div class="familyboards-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
       <h1 class="text-center">家族掲示板</h1>
       <h1 class="text-center">コメント作成ページ</h1>
        <%= form_with model: [@family,@familyboard], url: family_familyboards_path, local: true do |f| %>
         <div class="form-group">
           <%= f.label :コメント %>
           <%= f.text_area :description, class: 'form-control' %>
           <%= f.hidden_field :family_id, value: @family_id %>
         </div>
         <%= f.submit '投　稿', class: "btn btn-primary" %>
       <% end %>
        <%= link_to "投稿一覧へ", family_familyboards_path(@family,@familyboard)%>
      </div>
        
    </div>
 
  </div>
</div>

