<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csp_meta_tag %>
  </head>

<body>
 <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
 <% end %>
 <p id="notice"><%= flash[:notice] %></p>
 <p id="alert"><%= flash[:alert] %></p>
<%#ナビゲーション機能%>
 <nav class="navbar navbar-default navbar-fixed-topnavbar-transparent">
    <div class= "container">
     <ul class="nav navbar-nav navbar-right">
   <%#ログイン済みのユーザーの場合%>
      <% if logged_in? %>
       <li>
        <%= link_to "家族ページへ", family_path(current_user.family) %>
       </li>
       <li>
        <%= link_to "Edit Profile", :show %>
       </li>
       <li>
　　　　<%= link_to "Log out", logout_path, method: "delete" %>
       </li>

 <%#ログインしていないor新規ユーザーの場合%>
      <% else %>
       <li>
        <%= link_to "新規登録" , new_user_path %>
       </li>
       <li>
        <%= link_to "Login", :login %>
       </li>
      <% end %>
     </ul>
    </div>
 </nav>

    
    <%= yield %>

  </body>
</html>

